
    body {
        background-color: rgb(179, 82, 153);
    }
    p{
        font-size: x-small;
        color:ghostwhite
    }
    h1{font-family: monospace;

    }
    .escarcha{
        font-size: 100px;
        color: lavender;
    }